html {
  height: 50%;
  width: 100%;
}
body{
  font-family: cursive;
  background-color: #cfb7e6;
}

p {font-family: 'Courier New', Courier, monospace;
color: #230fb899
  }
<h1 style = "color: #230fb899";>Cole Palmer</h1>